.contactsBlock {
    height: 100vh;
    background-color: #e7d1a2;
}

.contactsContainer {
    justify-content: space-between;
    flex-direction: column;
}

.form {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}

input {
    height: 20%;
}

textarea {
    height: 50%;
}


.btn {
    width: 150px;
    height: 40px;
    margin-bottom: 50px;
}