.skillsBlock {
    min-height: 100vh;
    background-color: #faf7c3;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}