@mixin font($fontFamily, $fontSize, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}

@mixin flex($direction, $justifyContent, $alignItems, $flexWrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}
