@import "comman/styles/saas/variables";
@import "comman/styles/saas/mixins";

.title {
  position: relative;
  margin: 0 0 30px;

  h2 {
    @include font($titleFontFamily, 36px, 300, 1.2);
    letter-spacing: 5px;
    text-transform: capitalize;
  }
}

.title::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 1px;
  background: #5ac24e;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
}
