@import "comman/styles/saas/mixins";
@import "comman/styles/saas/variables";

.footer {
  min-height: 200px;
  background-color: $bgSecondary;
  .footerContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    padding: 40px 0;

    h2 {
      @include font($titleFontFamily, 22px, 700, 1.2);
      letter-spacing: 3px;
    }

    .containerItems {
      @include flex(row, space-around, center, nowrap);
      width: 400px;
      margin: 30px 0;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
